body {
    background-color: purple;
}

.high-scores-link {
    color: aqua;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    width: 25%;
}

.high-scores-link:hover {
    background-color: aqua;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    width: 25%;
}

.welcome-msg {
    color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-shadow: 1px 1px 2px black;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.welcome-msg-text {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    padding: 15px;
}

.start-button-container {
    text-align: center;
}

button:hover {
    background-color: #4CAF50;
    border: white solid;
    border-radius: 15px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,1) 35%, rgba(0,212,255,1) 100%); */
}

.start-button {
    background-color: #4CAF50;
    border: black solid;
    border-radius: 15px;
    color: yellow;
    padding: 10px 25px;
    text-align: center;
    /* text-decoration: none; */
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,1) 35%, rgba(0,212,255,1) 100%);
}

.timer-style {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
    position: absolute;
    top: 0px;
    right: 10px;
    text-shadow: 1px 1px 2px black;
}

ul {
    color: yellow;
    text-align: center;
    font-size: 25px;
    padding-top: 75px;
    padding-right: 30px;
}

li {
    color: white;
    list-style-type: none;
    text-align: center;
    font-size: 20px;
}

li:hover {
    background-color: purple;
    color: black;
    border-radius: 15px;
    background: white;
}

.your-high-score {
    color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    padding-top: 30px;
}

.initials-instructions {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 2px black;
    padding-top: 30px;
}

.initials-input-container {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.submit-button-container {
    text-align: center;
}

.submit-button {
    background-color: #4CAF50;
    border: black solid;
    border-radius: 15px;
    color: yellow;
    padding: 10px 25px;
    text-align: center;
    /* text-decoration: none; */
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    /* background: rgb(2,0,36); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,1) 35%, rgba(0,212,255,1) 100%);
}

.hide {
    display: none;
}

/* .question-one {
    color: purple;
} */

